.mainform {
    height:130vh;
    width:1580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(170, 163, 235);
    /* background-image: url("'../../../assets/css/Admin/Register/child.jpg");   */
    background-repeat: no-repeat;
    background-size: 1449px 880px;

  } 
  .mainform1 {
    height:131vh;
    width:100x;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 212, 240);
    /* background-image: url("../resources/images/boys.jpg");  */
    background-repeat: no-repeat;
    background-size: 1540px 880px;
  }

  .formwrapper{
    width: 649px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
/*box-shadow: 0px 10px 50px #555;*/
background-color:whitesmoke;

  }

  
  
 .primary {
    color: rgb(12, 12, 12);
    text-align: center;
    font-style: italic;
  }
  
  /* header{
    background-color: lightblue;
    padding:0px;
    text-align: center;
  } */
  .secondary{
       /* text-align: ;*/
        width: 100%;
       /* padding: 12px 20px;
        margin: 20px 0;
        box-sizing: border-box;
        border: 3px solid black;
        border-radius: 4px;*/
        display: flex;
        flex-wrap: wrap;
  }

  .fullname{
    margin-right:1%;
   
  }
  .fullname,
  .Password{
    display: flex;
    flex-direction:column;
    margin-bottom: 15px;
  

  }
  
 
  .reset{
    text-align: left;
    
    
    }
    .reset1{
      text-align: right;
    }
    
  